@import '~antd/es/style/themes/default.less';
@import '../../../styles/_variable.less';

.budget-container {
	min-height: 100%;
	padding: 24px;
	background-color: #fff;
	border-radius: @border-radius;

	.header-section {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 24px;

		h2 {
			margin: 0;
		}
	}

	.stat-cards {
		margin-bottom: 24px;
	}

	.chart-row {
		margin-bottom: 24px;
	}

	.detail-table {
		margin-top: 24px;
	}
}
